* {
    box-sizing: border-box;
}
img {
    display: block;
}
.row {
    display: flex;
}
.container {
    text-align: center;
    width: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family:nunito ;
}
.hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
}
#timer, #points {
    justify-content: space-evenly;
    font-size: 32px;
}
.game-info #startGameButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: nunito;
}
.game-info #startGameButton:hover {
    cursor: pointer;
}
#ready {
    display: none;
    background-color: beige;
    border: 1px solid gray;
    width: fit-content;
    position: fixed;
    top: 240px;
    left: 50%;
    font-weight: 700;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
}
#game {
    display: none;
    
}
#game ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
#game ul li {
    width: 25%;
    height: 100px;
    background-color:beige;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color:brown;
}
#game ul li:hover {
    cursor: pointer;
}

#game #resetGameButton {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: nunito;
}
#game #resetGameButton:hover {
    cursor: pointer;
}